<?xml version="1.0"?>
<launch>
    
    <arg name="side" default="right"/>
    <arg name="sim" default="true"/>
    
    <!-- be sure that robot description is here -->
    <param name="/robot_description" command="$(find xacro)/xacro --inorder $(find baxter_description)/urdf/baxter.urdf.xacro"/>
    
    <!-- run control node
    <node name="control" type="baxter_vs" pkg="sol_baxter_vs">
        <param name="side" value="$(arg side)"/>
        <param name="sim" value="$(arg sim)"/>
    </node> -->

    <!-- run display node -->
    <node name="diplay" pkg="ecn_baxter_vs" type="display.py" output="screen">
        <remap from="joints" to="/display/$(arg side)/joints"/>
        <remap from="vs" to="/display/$(arg side)/vs"/>
    </node>

</launch>
